In [3]:
import numpy as np, pandas as pd
sub1 = pd.read_csv('../Submissions/blended.csv')
sub2 = pd.read_csv('../Submissions/Submission_HomeCredit_Blend.csv')
sub3 = pd.read_csv('../Submissions/blend10.csv')

In [6]:
blend = sub2.copy()
blend['TARGET'] = (sub1['target'] + sub2['TARGET'] + sub3['TARGET'])/3

In [7]:
blend.to_csv('../Submissions/blend11.csv', index = False)

In [5]:
sub1.head()

   SK_ID_CURR    target
0      100001  0.179535
1      100005  0.487988
2      100013  0.148367
3      100028  0.251100
4      100038  0.492620