In [1]:
import numpy as np, pandas as pd
sub1 = pd.read_csv('../Submissions/feature_selection_predictions_1.csv')
sub2 = pd.read_csv('../Submissions/prediction_0.csv')

In [5]:
blend = sub1.copy()
blend['TARGET'] = (.7*sub1['TARGET'] + .3*sub2['TARGET'])

In [6]:
blend.to_csv('../Submissions/blend9.csv', index = False)

In [4]:
blend.head()

   SK_ID_CURR    TARGET
0      100001  0.027646
1      100005  0.104848
2      100013  0.029458
3      100028  0.028049
4      100038  0.142023