In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
plt.rcParams['font.size'] = 22
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

import lightgbm as lgb

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder
import gc

In [2]:
df = pd.read_csv('../Input/Cleaned_Aggregated_Features.csv')

In [3]:
df.head()

,Unnamed: 0,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,APARTMENTS_AVG,APARTMENTS_MEDI,APARTMENTS_MODE,...,CARD_card AMT_DRAWINGS_CURRENT - AMT_DRAWINGS_OTHER_CURRENT_MAX,CARD_card AMT_DRAWINGS_CURRENT - AMT_DRAWINGS_OTHER_CURRENT_MEAN,CARD_card AMT_DRAWINGS_CURRENT - AMT_DRAWINGS_OTHER_CURRENT_VAR,CARD_card AMT_DRAWINGS_CURRENT - AMT_DRAWINGS_OTHER_CURRENT_SUM,CARD_card AMT_DRAWINGS_CURRENT - AMT_DRAWINGS_POS_CURRENT_MAX,CARD_card AMT_DRAWINGS_CURRENT - AMT_DRAWINGS_POS_CURRENT_MEAN,CARD_card AMT_DRAWINGS_CURRENT - AMT_DRAWINGS_POS_CURRENT_VAR,CARD_card AMT_DRAWINGS_CURRENT - AMT_DRAWINGS_POS_CURRENT_SUM,CARD_NAME_CONTRACT_STATUS_Active_MEAN,CARD_NAME_CONTRACT_STATUS_Completed_MEAN
0,0,406597.5,351000.0,202500.0,0.0,0.0,1.0,0.0247,0.0250,0.0252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0959,0.0968,0.0924,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,135000.0,135000.0,67500.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,312682.5,297000.0,135000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,1.0,0.0
4,4,513000.0,513000.0,121500.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Threshold for removing correlated variables
threshold = 0.9

# Absolute value correlation matrix
corr_matrix = df.corr().abs()
del corr_martrix

In [ ]:
corr_matrix.head()

In [ ]:
# Upper triangle of correlations
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
upper.head()

In [ ]:
# Select column with correlations above threshold
to_drop = [column for column in upper.columns if any(upper[column] > threshold)]

print('There are %d columns to remove.' % (len(to_drop)))

In [ ]:
# Drop correlated columns
df = df.drop(columns = to_drop)
print('Dataframe shape: ', df.shape)

In [ ]:
df.head()

In [ ]:
df.to_csv('../Input/Cleaned_Aggregated_Features_Removed_Correlated.csv')

In [ ]:
empty_columns = (df.isnull().sum()) / len(df)).sort_values(ascending = False)
empty_columns.head()

In [ ]:
empty_columns = empty_columns.index[empty_columns > .75]

print('There are %d columns with more than 75%% mising values' %len(empty_columns))

In [ ]:
# Drop the empty columns
target_labels = df['TARGET']
SK_IDS = df['SK_ID_CURR']

df = df.get_dummies(df.drop(columns = empty_columns))

df.shape()